.book {
  margin-top: 25px;
  border: 2px solid blue;

}

#left {
  border: 1px solid blue;
  padding: 25px;
}

#right {
  border: 1px solid blue;
  padding: 25px;
}

#abheader {
  margin-bottom: 38px;
}

div.clickable {
  padding: 10px;
  background-color: #28a745;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  color: white;
}

.back {
  display: none;
}

.clickable {
  cursor: pointer;
  margin-top: 10px;
}
